
@{
    ViewBag.Title = "RaiseTKT";
    Layout = "~/Views/Shared/_newui.cshtml";
}


<div class="alert alert-success">
     Ticket has been raised <strong>Successfully!</strong>
</div>
<p>
    @Html.ActionLink("Previous Page", "FetchTrainee")
</p>

