@model IEnumerable<StepUpPL.Models.LoginModel>

@{
    ViewBag.Title = "FetchLogin";
    Layout = "~/Views/Shared/_newui.cshtml";
}

<h2>FetchLogin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
